In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
dp= pd.read_csv('bond.csv',encoding= 'unicode_escape')

In [3]:
dp.head()

             No.   (mm)  (Mpa)  (Gpa)  (mm).1  (mm).2  (mm).3   (kN)
0  1              100.0  40.80  230.0    0.11    50.0    75.0   5.80
1  2              100.0  40.80  230.0    0.11    50.0   150.0   9.20
2  3              100.0  44.93  230.0    0.11    50.0   300.0  11.95
3  4              100.0  44.31  230.0    0.22    50.0    65.0   9.55
4  5              100.0  44.31  230.0    0.22    50.0   150.0  16.25

In [4]:
dp.isnull()

       No.   (mm)  (Mpa)  (Gpa)  (mm).1  (mm).2  (mm).3   (kN)
0    False  False  False  False   False   False   False  False
1    False  False  False  False   False   False   False  False
2    False  False  False  False   False   False   False  False
3    False  False  False  False   False   False   False  False
4    False  False  False  False   False   False   False  False
..     ...    ...    ...    ...     ...     ...     ...    ...
850  False  False  False  False   False   False   False  False
851  False  False  False  False   False   False   False  False
852  False  False  False  False   False   False   False  False
853  False  False  False  False   False   False   False  False
854  False  False  False  False   False   False   False  False

[855 rows x 8 columns]

In [5]:
from sklearn.model_selection import cross_val_score
from sklearn.datasets import make_blobs
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import ExtraTreesRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [6]:
dp.drop(['No.'],axis=1,inplace=True)

In [7]:
X=dp.drop(['(kN)'],axis=1)
y=dp['(kN)']

In [8]:
#RandomForestRegressor
clf = RandomForestRegressor(n_estimators=10, max_depth=None,min_samples_split=2, random_state=0)
scores = cross_val_score(clf,X,y, cv=5)
scores.mean()

0.2791336550175155

In [9]:
#DecisionTreeRegressor
clf = DecisionTreeRegressor(max_depth=None, min_samples_split=2,random_state=0)
scores = cross_val_score(clf, X, y, cv=5)
scores.mean()

-0.1468124311364662

In [10]:
#ExtraTreesRegressor
clf = ExtraTreesRegressor(n_estimators=10, max_depth=None,min_samples_split=2, random_state=0)
scores = cross_val_score(clf, X, y, cv=5)
scores.mean()

0.2821463896156037

In [11]:
model_1 = RandomForestRegressor()
model_2 = DecisionTreeRegressor()
model_3 = ExtraTreesRegressor()

In [12]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=42)

In [13]:
from sklearn.ensemble import VotingRegressor

In [14]:
rf= RandomForestRegressor()
dt = DecisionTreeRegressor()
et= ExtraTreesRegressor()

In [15]:
final_model = VotingRegressor(
    estimators=[('rf', model_1), ('dt', model_2), ('et', model_3)])

In [16]:
final_model.fit(X_train, y_train)

VotingRegressor(estimators=[('rf', RandomForestRegressor()),
                            ('dt', DecisionTreeRegressor()),
                            ('et', ExtraTreesRegressor())])

In [17]:
pred_final = final_model.predict(X_test)

In [18]:
from sklearn.metrics import r2_score

In [19]:
print(r2_score(y_test, pred_final))

0.9383954747954127

In [20]:
import pickle
pickle.dump(final_model,open('model.pkl','wb'))

In [21]:
model1 = pickle.load(open('model.pkl','rb'))